{{> head }}


      <!-- Usar el partial del navbar -->
      {{> navbar }}

    <div class="row">
        <div class= "col-8">
            <h1>Contacto</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem excepturi aliquid dolor nobis! Deleniti pariatur, nihil iusto porro in fuga sed atque corporis quod. Numquam ab suscipit repudiandae commodi doloremque.</p>
        </div>

        <div class= "col-4">
            <img src="assets/img/CONTACTO.jpg" class="img-thumbnail">
        </div>

    </div>
      


     {{> footer }}